<!--include head-->
<%-include('include/_head')%>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    </head>
    <!--/include head-->

    <body>
        <div id="overlay" class="hidden">
            <div id="overlay-content"></div>
        </div>
        <!--include header-->
        <%-include('include/_header')%>
            <!--/include header-->
            <aside id="short_banner">
            </aside>
            <div id="banner" class="margined">
                <div id="banner-scroller">
                    <div class="banner-item"><a href="https://click.linksynergy.com/deeplink?id=NCwsJ5vO624&mid=24348&murl=https%3A%2F%2Fwww.gamestop.com%2Fdeals" target="_blank"><img src="/img/banners/gamestop_deal.png" alt="gamestop banner"></a> </div>
                    <div class="banner-item">
                <%-include('include/banners/night_scene')%>
                     </div>
                     <div class="banner-item"><a href="https://www.amazon.com/gp/goldbox?tag=vamplitude-20" target="_blank"><img src="/img/banners/amazon_deal.png" alt="amazon banner"></a> </div>
                     <div class="banner-item"><a href="https://click.linksynergy.com/deeplink?id=NCwsJ5vO624&mid=24348&murl=https%3A%2F%2Fwww.gamestop.com%2Fdeals" target="_blank"><img src="/img/banners/gamestop_deal.png" alt="gamestop banner"></a> </div>

                 </div>
              </div>
            <main>
                <h1>Daily Dekko</h1>
                    <div class="deals-container">

                        <%-include('include/_show-deals')%>

                    </div>
            </main>
            <!--include footer-->
            <%-include('include/_footer')%>
                <!--/include footer-->
    </body>

    </html>