<!--include head-->
<%-include('include/_head')%>
<link href="/css/category.css" rel="stylesheet" type="text/css" />
</head>
<!--/include head--> 
<body>
    <div id="overlay" class="hidden">
        <div id="overlay-content"></div>
    </div>
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->   
    <main class="margined">
                <h1>Search For: <%= String(search).toUpperCase() %>
                </h1>
                <div class="deals-container">

                    <%if (dealData.length > 0) { %>
                        <%-include('include/_show-deals')%>
                            <% } else {%>
                                <p>No Results Found</p>
                                    <% }%>
                </div>
            </main>
            <!--include footer-->
            <%-include('include/_footer')%> 
            <!--/include footer-->
        </body>
        </html>