<%for(let deal in dealData) {%>
    <div class="deal-content <% if(parseInt(dealData[deal].dead) >= 20 || dealData[deal].expired==='1'){%>deadDeal<%}%>">
        <div class='grid-row'>
            <img class="content-image" src=<%=dealData[deal].image_url_sm %> alt="deal image">
        </div>
        <div class='grid-row'>
            <div class="title-content">
                <p class="title-text">
                    <%= dealData[deal].title.replace('&amp;','&') %>
                </p>
            </div>
        </div>
        <div class='grid-row price-likes-dead-container'>
                <div class="price-container">
                    <span class="money-one">
                        <money>
                            <%= dealData[deal].price %>
                        </money>
                    </span>
                    <span class="money-two">
                        <money><s>
                                <%= dealData[deal].old_price %>
                            </s></money>
                    </span>
                </div>
                <span class="likes-container likes<%=dealData[deal].id%>"
                    onclick="addLikeRoute(event,'<%=dealData[deal].id%>')">
                    <img src="/img/icons/thumb-up.svg" alt="likes">
                    <label>
                        <%= parseInt(dealData[deal].likes) + parseInt(dealData[deal].local_likes)%>
                    </label>
                </span>
            <span class="dead-container dead<%=dealData[deal].id%>" onclick="addDead(event,'<%=dealData[deal].id%>')">
                <% if(!parseInt(dealData[deal].dead) < 20 && dealData[deal].expired!=='1') {%>
                    <img src="/img/icons/dead_icon.svg" alt="skull icon">
                    <label>
                        report expired
                    </label>
                    <% } else { %>
                        <img src="/img/icons/dead_icon_purple.svg" alt="skull icon">
                        <label>
                            DEAL EXPIRED
                        </label>
                        <% } %>
            </span>
            <span class="vendor"><%= dealData[deal].vendor.replace('.com','')%></span>
            <div class="date-container">
                <!-- gives us 20 years before a better solution is needed -->
                <%= String(dealData[deal].date).slice(0,String(dealData[deal].date).indexOf('202')).slice(0,String(dealData[deal].date).indexOf('203'));
                    %>
            </div>
        </div>

        <div class='grid-row link-container'>
            <a target="_blank" class="link" href=<%if (dealData[deal].affiliate_url==='' ||
                dealData[deal].affiliate_url===null || dealData[deal].affiliate_url===undefined) { %>
                <%=dealData[deal].product_url%>
                    <% } else {%>
                        <%=dealData[deal].affiliate_url%>
                            <% }%>
                                >Get This Deal
            </a>
        </div>
        <div class='grid-row details' onclick="detailsClicked(event)">
                <%- dealData[deal].details %>
        </div>
    </div>
    <hr class='deal-border'>
    <!-- </div> -->
    <% } %>