<%for(let deal in dealData) {%>
    <div class="deal-content <% if(parseInt(dealData[deal].dead) >= 20 || dealData[deal].expired==='1'){%>deadDeal<%}%>">
        <div class='grid-row'>
            <img class="content-image" src=<%=dealData[deal].image_url_sm %> alt="deal image">
        </div>
        <div class='grid-row'>
            <div class="title-content">
                <p class="title-text">
                    <%= dealData[deal].title %>
                </p>
            </div>
        </div>
        <div class='grid-row price-likes-dead-container'>
                <div class="price-container">
                    <span class="money-one">
                        <money>
                            <%= dealData[deal].price %>
                        </money>
                    </span>
                    <span class="money-two">
                        <money><s>
                                <%= dealData[deal].old_price %>
                            </s></money>
                    </span>
                </div>
                <span class="likes-container likes<%=dealData[deal].id%>"
                    onclick="addLikeRoute(event,'<%=dealData[deal].id%>')">
                    <img src="/img/icons/thumb-up.svg" alt="likes">
                    <label>
                        <%= parseInt(dealData[deal].likes) + parseInt(dealData[deal].local_likes)%>
                    </label>
                </span>
            <span class="dead-container dead<%=dealData[deal].id%>" onclick="addDead(event,'<%=dealData[deal].id%>')">
                <% if(!parseInt(dealData[deal].dead) < 20 && dealData[deal].expired!=='1') {%>
                    <img src="/img/icons/dead_icon.svg" alt="skull icon">
                    <label>
                        report expired
                    </label>
                    <% } else { %>
                        <img src="/img/icons/dead_icon_purple.svg" alt="skull icon">
                        <label>
                            DEAL EXPIRED
                        </label>
                        <% } %>
            </span>
            <span class="vendor"><%= dealData[deal].vendor.replace('.com','')%></span>
        </div>

        <div class='grid-row link-container'>
            <a target="_blank" class="link" href=<%if (dealData[deal].affiliate_url==='' ||
                dealData[deal].affiliate_url===null || dealData[deal].affiliate_url===undefined) { %>
                <%=dealData[deal].product_url%>
                    <% } else {%>
                        <%=dealData[deal].affiliate_url%>
                            <% }%>
                                >Get This Deal
            </a>
        </div>
        <div class='grid-row details'>
            <p>
                <%= dealData[deal].details %>
                    <%if (dealData[deal].vendor==='amazon.com' ){%>
                        <br /><br /><br />Don't have Amazon Prime? Students can get a free 6-Month <a
                            href='https://www.amazon.com/amazonprime?_encoding=UTF8&ascsubtag=203d87729db911eb990886ac4273965d0INT&planOptimizationId=WLPStudentMonthlyEligiblePlans&tag=vamplitude-20'>Amazon
                            Prime</a> trial with free 2-day shipping, unlimited video streaming & more.<br /><br />
                        Otherwise, there's also a free 1-Month <a
                            href='https://www.amazon.com/amazonprime?_encoding=UTF8&tag=vamplitude-20'>Amazon
                            Prime</a> trial available.
                        <%}%>
            </p>
        </div>
    </div>
    <hr class='deal-border'>
    <!-- </div> -->
    <% } %>